// lists.less

.list-artist {
	.list-reset();
}

.list-artist__li {
	padding: 0.25em 0;
}


.list-track {
	.list-reset();
}

.list-track__li {
	padding: 0.25em 0;
	overflow: auto;
}

.list-track__small {
	color: #aaaaaa;
}
.list-track__img {
	float: left;
	width: 50px;
	height: 50px;
	vertical-align: top;
	margin-top: 7px;
}

.list-track__details {
	float: left;
	margin: 3px 0 0 10px;
	box-sizing: border-box;
}
.list-track__details--play-queue {
	// width: calc(100% - 50px);
}

.list-track__track-name {
	font-weight: 500;
}
.list-track__track-artist {
	display: block;
}
.list-track__track-length {
	display: none;
}

.fullscreen .list-track__li {

}
.fullscreen .list-track__details--play-queue {
	line-height: 50px;
}
.fullscreen .list-track__track-name {
	display: inline-block;
	float: left;
	margin-right: 15px;
	font-size: 18px;
	font-weight: 300;
}
.fullscreen .list-track__track-artist {
	display: inline-block;
	float: left;
	margin-right: 15px;
}
.fullscreen .list-track__track-length {
	display: inline-block;
	float: left;
	margin-right: 15px;
}
.fullscreen .list-track__small {
	display: inline-block;
	float: left;

}
.list-album {
	.list-reset();
}

.list-album__li {
	padding: 0.25em 0;
}

.play-queue {
	box-sixing: border-box;
	background: white;
}

.span33 {
	width: 30%;
	margin-left: 3%;
	float: left;
	box-sizing: border-box;
}

// animate
.animate-enter-setup {
 -webkit-transition: 1s linear all; /* Safari/Chrome */
 -moz-transition: 1s linear all; /* Firefox */
 -ms-transition: 1s linear all; /* IE10 */
 -o-transition: 1s linear all; /* Opera */
 transition: 1s linear all; /* Future Browsers */
 
 /* The animation preparation code */
 opacity: 0;
}
 
/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.animate-enter-setup.animate-enter-start {
 /* The animation code itself */
 opacity: 1;
}