// player.less

.player--play,
.player--pause,
.player--next {
	display: inline-block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	margin: 5px;
	background-repeat: no-repeat;
	background-size: 40px 40px;

	&:hover {
		background-color: #f1f1f1;	
		cursor:pointer;
	}
}

.player--play {
	background-image: url('../img/icon-play.png');
}

.player--pause {
	background-image: url('../img/icon-pause.png');
}

.player--next {
	background-image: url('../img/icon-next.png');
}

.player--controls {
	float: left;
	width: 150px;
	margin-right: @padding*2;
}

.player--details {
	float: left;
	width: 400px;
}

.player--playing,
.player--paused {
	display: none;

	&.enabled {
		display: inline-block;
	}
}